@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2016-10-23 16:52:03
 * @version $Id$
 */
body,html,
.wrap{
    position: absolute;
    left: 0 ;
    top: 0 ;
    width: 100% ;
    padding: 0 ;
}
body{
    overflow: hidden;
}
.header{
    padding: 0;
    position: relative;

}
.navbar-inverse{
    height: 74px ;
    background: none ;
    border-bottom: none;
    color: #ccc;
}
.navbar-header{
    position: fixed;
    left: 50px ;
    top: 0px ;
}
.words{
    float: left;
    position: fixed;
    top: 40px ;
    left: 256px ;
}
.menu{
    margin:36px 0 0 120px;
    text-align: center;
}
.menu li{
    font-family: "微软雅黑" Arial ;
    display: inline-block;
    padding: 0 5px ;
    margin: 0 12px ;
    font-size: 20px ;
}
.menu  a{
    color: #cfcfcf ;
    cursor: pointer;
    letter-spacing: 2px ;
}
.hotline{
    position: fixed;
    right: 90px ;
    top: 30px ;
}
.hotline span{
    display: inline-block;
    width: 30px ;
    height: 30px ;
    background: url(../images/icons.png) 0 0;
    background-position: 0 0 ;
}
.hotline a{
    display: inline-block;
    font: 26px/30px Arial ;
    font-weight: bold ;
    height: 30px ;
    letter-spacing: 1px ;
    color: #00dfb9 ;
}
.header a:hover{
    text-decoration: none;
}
.menu-icon{
    position: fixed;
    right: 0 ;
    top: 18px ;
}

/*第一屏样式*/
.video,
.swiper-container,
.swiper-wrapper,
.swiper-side{
    height: 100% ;
}
.video{
    overflow: hidden;
    position: relative;
}
.swiper-container{
    width: 100% ;
    margin: 0 auto ;
    overflow: hidden;
    position: relative;
    z-index: 1;
    backface-visibility: hidden;
}
/*****************第一屏样式*****************/
/*轮播图样式*/
.carousel,
.carousel-inner,
.item{
    height: 100% ;
    cursor: grab ;
    cursor: -webkit-grab ;
}
.nth1{
    background:#000 url(../images/wallpaper1_1.jpg) repeat scroll 50% 35% / cover;
}
.nth2{
    background:#000 url(../images/wallpaper1_2.jpg) repeat scroll 50% 20% / cover;
}
.nth3{
    background:#000 url(../images/wallpaper1_3.jpg) repeat scroll 50% center / cover;
}
.nth4{
    background:#000 url(../images/wallpaper1_4.jpg) repeat scroll 50% top / cover;
}
/*内容样式*/
.box{
    position: fixed;
    top: 40% ;
    font-size: 50px ;
    text-align: center;
    position: relative;
}
.box b{
    color: #fff ;
    font-size: 58px ;
    line-height: 250% ;
}
.box p{
    color: #ccc ;
    font-size: 36px ;
    line-height: 100% ;
}
.box .top{
    font-size: 36px ;
    color: #fff ;
    text-align: center;
}
/*.box .midBox{
    transform: scaleX(2);
    transition: 2s;
}*/
.box .mid{
    width: 358px ;
    height: 66px; 
    margin: 20px auto 10px ;
}
.box .bottom{
    font-size: 16px ;
    color: #ccc ;
    line-height: 30px ;
    width: 100% ;
}
.nth2 .box .mid{
    background: url(../images/words.png) no-repeat scroll 20px -74px;
}
.nth3 .box .mid{
    background: url(../images/words.png) no-repeat scroll 0 -219px;
}
.nth4 .box .mid{
    background: url(../images/words.png) no-repeat scroll 70px -144px;
}
/*******第一屏内容动画********/
@keyframes topAni{
    0%{
        opacity: 0 ;
    }
    100%{
        opacity: 1;
    }
}
@keyframes midBox{
    from
    {
        transform: scaleX(2);
        opacity: 0;
    }
    to
    {
        transform: scaleX(1); 
        opacity: 1;
    }
    
}
.animated{
    animation:topAni 2s linear ;
}
.scaleA{
    animation:midBox 1s linear ;
}


/****************第二屏*******************/
#service{
    background: url(../images/wallpaper2.jpg) repeat scroll 50% bottom;
}
/*第二屏内容样式*/
#service .box{
    position: relative;
    top: 140px ;
    margin-top: -55px ;
}
#service .caption{
    text-align: center;
    width: 100%;
}
#service .caption i{
    width: 320px;
    height: 31px ;
    display: block;
    margin: 0 auto ;
    background: url(../images/words.png) no-repeat scroll 0 -294px;
}
#service span{
    font-size: 30px ;
    font-weight: bold;
    letter-spacing: 3px ;
    line-height: 1.42857 ;
}
#service .items{
    margin-top: 50px ;
}
#service .items li{
    height: 300px ;
    width: 200px;
    margin: 0 8px ;
    overflow: hidden;
    background: url(../images/bg_green.png) no-repeat scroll 0 400px;
    display: inline-block;
}
#service .items u{
    display: block;
    height: 156px ;
    width: 156px;
    margin-left: 15px ;
    position: absolute;
    background: url(../images/words.png) no-repeat scroll 0 -363px ;
}
#service .items .cl{
    clip: rect(0px,156px,156px,78px); /*rect  carvus的方法*/
}
#service .items .cr{
    clip: rect(0px,78px,156px,0px);
}
#service .items i{
    display: block;
    height: 69px ;
    margin: 50px auto 0 ;
    position: relative;
}
#service .items .pc i{
    width: 69px ;
    background: url(../images/words.png) no-repeat scroll -245px -366px;
}
#service .items .mobi i{
    width: 64px ;
    background: url(../images/words.png) no-repeat scroll -416px -291px;
}
#service .items .sys i{
    width: 76px ;
    background: url(../images/words.png) no-repeat scroll -415px -362px;
}
#service .items .app i{
    width: 74px ;
    background: url(../images/words.png) no-repeat scroll -244px -439px;
}
#service .items .host i{
    width: 79px ;
    background: url(../images/words.png) no-repeat scroll -420px -439px;
}
#service .items strong{
    display: block;
    font-size: 16px ;
    font-weight: normal;
    margin-top: 70px ;
    text-align: center;
    font-family: "微软雅黑",Arial ;
}
#service .items p{
    font:11px/20px "微软雅黑",Arial;
    color: white;
    text-align: center;
    position: relative;
    top: 200px ;
    margin:0 0 10px;
}
/****************第三屏*******************/
#caseShow{
    background: url(../images/wallpaper3.jpg) repeat scroll 0 0;
}
#caseShow .box{
    position: relative;
    top: 89px ;
}
#caseShow .caption{
    text-align: center;
    width: 100%;
}
#caseShow .caption i{
    display: block;
    height: 37px ;
    width: 129px;
    margin:0 auto ;
    background: url(../images/words.png) no-repeat scroll 0 -528px;
}
#caseShow .caption span{
    font-size: 24px ;
    letter-spacing: 3px ;
    padding-left: 10px ;
}
#caseShow .items{
    position: relative;
    margin-top: 40px ;
    top: 0 ;
    width: 1080px ;
}
#caseShow .swiper-wrapper{
    position: relative;
    transform: translate3d(0px, 0px, 0px);
    transition-duration: 0s;
    transition-property: transform,left,top;
    transition-timing-function: ease;
    width: 100%;
}
#caseShow .swiper-slide{
    float: left;
    cursor: pointer;
    margin: 0 10px ;
    border-bottom: 2px solid #2fd0b5 ;
    position: relative;
    width: 340px;
}
#caseShow .swiper-slide .shade{
    display: block;
    width: 340px;
    height: 200px ;
    margin-top: -200px ;
    opacity: 0.7;
    position: absolute;
    z-index: 10 ;
    background: black none repeat scroll 0 0 ;
}
#caseShow .swiper-slide p{
    position: absolute;
    font:12px/26px Arial,"微软雅黑";
    margin: 15px 20px ;
    color: #999 ;
    z-index: 10 ;
    text-align: left;
}
#caseShow .swiper-slide p span{
    color: #222 ;
    font-size: 16px ;
    font-weight: normal;
}
#caseShow .swiper-slide .bg{
    width: 340px;
    height: 90px;
    background: #fff ;
    opacity: 0.7;
}
#caseShow .swiper-slide .bg u{
    display: block;
    width: 340px;
    height: 100px;
    position: absolute;
    margin-top: 150px;
    background: #2ed0b4;
}
#caseShow .swiper-slide .img{
    display: block;
    width: 340px ;
    height: 200px ;
}
#caseShow .swiper-slide .ewm{
    width: 120px;
    height: 120px ;
    margin: 40px 0 0 110px;
    display: block ;
}
/****************第四屏*******************/
#customer{
    background: url(../images/wallpaper4.jpg) repeat scroll 50% 90%;
}
/****************第五屏*******************/
#programme{
    background: url(../images/wallpaper5.jpg) repeat scroll 50% 45%;
}
/****************第六屏*******************/
#aboutUs{
    background: url(../images/wallpaper7.jpg) repeat scroll 50% 60% / cover;
}
/****************第七屏*******************/
#contactUs{
    background: url(../images/wallpaper8.jpg) repeat scroll 50% bottom / cover;
}